.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 50px;

  border: 0.4rem solid #fff;
  border-radius: 2rem;

  background-color: #1a1a1a;
  color: var(--text);

  font-weight: 800;
  font-size: 20px;

  cursor: pointer;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
}
