h1 {
  color: var(--text);
  font-size: 2rem;

  padding: 1rem 1rem;
  margin: 10px 10px;

  line-height: 40px;
  text-align: center;
  
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  animation: flicker 1.5s infinite;
  
}

#title {
  width: 60%;
}